.spot-img{
  width:245px;
  border-radius: 8px;
  height: 233px;
}

.all-spots-container{
  /* min-width: 200px; */
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 30px;
  margin-bottom: 30px;
}

.all-spots-container div img{
  width: 100%;
  border-radius: 10px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
