.spot-img{
  width: 100px;
  border-radius: 8px;
  height: 250px;
}

.all-spots-container{

  display: flex;
  width: 1120px;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
}

.spot-square{
  width: 300px;
}

.all-spots-container div img{
  width: 100%;
  border-radius: 10px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a{
  color: black;
}

.spot-info{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spot-location{
  font-weight: bold;
}

.spot-price{
  font-weight: bold;
  margin-right: 5px;
}

.spot-price-container{
  display: flex;
}
